<h2>Section</h2>

<br />
<!-- Check record count -->

<!-- Display records -->
<table  style="width:100%; border:0px solid #000" cellspacing=0 cellpadding=0>
  <tr><td colspan="2">List all Sections</td>
    <td style="width:29%;text-align: right;"><%= link_to "Add new Section", new_section_path %></td></tr>

  <tr style="width:100%; border:1px solid #000">
    <td style="width:10%; border:1px solid #000">#</td>
    <td  style="width:60%; border:1px solid #000">Section</td>
    <td  style="width:29%;text-align: right;border:1px solid #000">Action</td>
  </tr>
  <% if @section.count.zero? %>
      <tr><td colspan="3" style="text-align: center;;border:1px solid #000;">No Data Found!</td></tr>
  <% else %>
      <% @@i=0 %>
      <% @section.each do |section| %>
          <tr style="width:100%; border:1px solid #000">
            <td style="width:19%; border:1px solid #000"><%= @@i=@@i+1 %></td>
            <td  style="width:60%; border:1px solid #000"><%= section.section_name%></td>
            <td  style="width:29%;text-align: right;border:1px solid #000">
              <%= link_to "Edit", edit_section_path(section)  %> |
              <%= link_to "Delete", section, :confirm => "Are you sure?", :method => :delete  %>
            </td>
          </tr>

      <% end %>

  <% end %>

  <tr>
    <td colspan="2">
      Total number of data is: <%= @section.count %>
    </td>
    <td style="width:29%;text-align: right;"><%= link_to "Add new Section", new_section_path %></td></tr>


</table>
